df = pd.read_csv('19.14.12_US_videos.csv',header=0)

data_set = df.values
X = data_set[:, [9,10,11]]
print(data_set[:,8].mean())

df.iloc[[2, 5], 5:]
df.iloc[[2, 5], [1, 8]]
df.columns 
df.shape
df.groupby(['col5', 'col2']).size()
df[['pregnant','class']].groupby(['pregnant'],as_index=False).mean().sort_values(by='pregnant',ascending=True)

In [1]:
import pandas as pd

In [2]:
df_activity = pd.read_csv('/Users/jwa/Desktop/ds_gist/ca3-JwaYounkyung-master/JwaYounkyung/raw/train_activity.csv',header=0)
df_activity_gp = df_activity.groupby(['day','acc_id'],as_index=False).sum()
del df_activity_gp['char_id']

In [4]:
df_activity_gp

,day,acc_id,playtime,npc_kill,solo_exp,party_exp,quest_exp,rich_monster,death,revive,exp_recovery,fishing,private_shop,game_money_change,enchant_count
0,1,2,2.703457,0.000000,0.000000,0.000000,0.000000,0,0.000000,0.000000,0.0,0.000000,2.462447,1.024810,0.0
1,1,8,0.463450,3.094180,8.604148,0.000000,0.375125,0,0.000000,0.000000,0.0,0.000000,0.000000,0.732584,0.0
2,1,17,0.327692,0.180798,0.006721,0.010488,0.000000,0,0.000000,0.000000,0.0,0.000000,0.000000,-0.005380,0.0
3,1,20,0.285560,3.840013,0.028034,0.000000,0.000434,0,0.000000,0.000000,0.0,0.000000,0.000000,-0.041201,0.0
4,1,31,1.718041,1.710315,0.006548,0.006899,0.000000,0,0.000000,0.000000,0.0,0.000000,0.000000,0.018021,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
949353,28,130463,1.041592,0.000000,0.000000,3.747916,0.000000,0,0.245883,0.247337,0.0,0.000000,0.000000,0.002555,0.0
949354,28,130468,0.222362,0.000000,0.000000,0.000000,0.000000,0,0.000000,0.000000,0.0,0.186082,0.000000,0.000000,0.0
949355,28,130469,3.386928,0.260890,0.006372,0.000000,0.000434,0,0.000000,0.000000,0.0,3.698742,1.988153,-0.001348,0.0
949356,28,130470,0.760713,0.605589,0.016178,0.000000,0.003470,0,0.000000,0.000000,0.0,0.000000,0.000000,-0.036043,0.0
949357,28,130473,3.370544,0.304146,0.001821,0.000000,0.000054,0,0.000000,0.000000,0.0,3.209858,0.000000,-0.057131,0.0

In [5]:
df_combat = pd.read_csv('/Users/jwa/Desktop/ds_gist/ca3-JwaYounkyung-master/JwaYounkyung/raw/train_combat.csv',header=0)
df_combat_gp = df_combat.groupby(['day','acc_id'],as_index=False).sum()

df_combat_gp.drop(['char_id', 'class'], axis='columns', inplace=True)

In [6]:
df_combat_gp

,day,acc_id,level,pledge_cnt,random_attacker_cnt,random_defender_cnt,temp_cnt,same_pledge_cnt,etc_cnt,num_opponent
0,1,2,0,0.0,0.0,0.0,0.000000,0.0,0.000000,0.000000
1,1,8,100,0.0,0.0,0.0,0.000000,0.0,0.000000,0.000000
2,1,17,16,0.0,0.0,0.0,0.479728,0.0,0.000000,0.098129
3,1,20,17,0.0,0.0,0.0,0.000000,0.0,0.000000,0.000000
4,1,31,17,0.0,0.0,0.0,0.000000,0.0,0.112612,0.098129
...,...,...,...,...,...,...,...,...,...,...
945623,28,130463,14,0.0,0.0,0.0,0.479728,0.0,0.900892,0.392515
945624,28,130468,11,0.0,0.0,0.0,0.000000,0.0,0.000000,0.000000
945625,28,130469,39,0.0,0.0,0.0,0.000000,0.0,0.000000,0.000000
945626,28,130470,22,0.0,0.0,0.0,0.000000,0.0,0.788281,0.588773
945627,28,130473,17,0.0,0.0,0.0,0.000000,0.0,0.000000,0.000000

In [7]:
df_payment = pd.read_csv('/Users/jwa/Desktop/ds_gist/ca3-JwaYounkyung-master/JwaYounkyung/raw/train_payment.csv',header=0)
df_payment

       day  acc_id  amount_spent
0       18   27835      0.826123
1       23   27835      0.011735
2       27   27835      0.035204
3       17   12351      0.528062
4       11  125437      0.633674
...    ...     ...           ...
66427    1   13809      1.056123
66428    2   13809      0.697041
66429   17   13809      0.117347
66430   15   17325      0.011735
66431    5   27258      0.035204

[66432 rows x 3 columns]

In [8]:
df_pledge = pd.read_csv('/Users/jwa/Desktop/ds_gist/ca3-JwaYounkyung-master/JwaYounkyung/raw/train_pledge.csv',header=0)
df_pledge_gp = df_pledge.groupby(['day','acc_id'],as_index=False).sum()

df_pledge_gp.drop(['char_id', 'pledge_id'], axis='columns', inplace=True)

In [9]:
df_pledge_gp

,day,acc_id,play_char_cnt,combat_char_cnt,pledge_combat_cnt,random_attacker_cnt,random_defender_cnt,same_pledge_cnt,temp_cnt,etc_cnt,combat_play_time,non_combat_play_time
0,1,8,11.548582,2.706699,0.193054,0.484142,0.429188,3.182869,4.647503,1.528905,5.719273,0.000927
1,1,17,1.551841,0.360893,0.000000,0.000000,0.500719,0.000000,0.494415,0.077861,1.187847,0.000000
2,1,20,2.129270,0.649608,0.000000,1.484703,0.500719,0.000000,0.791064,0.254818,1.915730,0.000000
3,1,31,0.433072,0.288715,0.045532,0.000000,0.357657,0.000000,0.395532,0.134487,0.872903,0.000000
4,1,43,0.613518,0.144357,0.000000,0.000000,0.000000,0.000000,1.087714,0.092017,0.391625,0.000000
...,...,...,...,...,...,...,...,...,...,...,...,...
748805,28,130463,1.407483,0.866144,0.000000,0.000000,1.859815,0.000000,0.197766,0.198191,2.000286,0.000000
748806,28,130468,0.108268,0.036089,0.000000,0.000000,0.000000,0.000000,0.098883,0.000000,0.029189,0.000000
748807,28,130469,0.108268,0.036089,0.000000,0.000000,0.000000,0.000000,0.000000,0.007078,0.066603,0.000000
748808,28,130470,0.613518,0.216536,0.000000,0.000000,0.214594,0.000000,0.197766,0.198191,0.381432,0.000232
748809,28,130473,1.840555,1.407483,5.021236,0.000000,0.429188,0.000000,0.988830,2.802993,3.366282,0.000000

In [31]:
df_trade = pd.read_csv('/Users/jwa/Desktop/ds_gist/ca3-JwaYounkyung-master/JwaYounkyung/raw/train_trade.csv',header=0)
df_trade_source = df_trade.iloc[:, [0,4,9,10]].fillna(0) #process NaN
df_trade_target = df_trade.iloc[:, [0,6,9,10]].fillna(0)

df_trade_source_gp = df_trade_source.groupby(['day','source_acc_id'],as_index=False).sum()
df_trade_source_gp.rename(columns = {"source_acc_id": "acc_id"}, inplace = True)
df_trade_target_gp = df_trade_target.groupby(['day','target_acc_id'],as_index=False).sum()
df_trade_source_gp.rename(columns = {"target_acc_id": "acc_id"}, inplace = True)

In [32]:
df_trade_source_gp

        day  acc_id   item_amount  item_price
0         1       2  2.732562e-06    3.456524
1         1      18  2.876381e-07    0.029810
2         1      20  2.396984e-08    0.000000
3         1      22  1.855266e-05    0.000000
4         1      28  8.389444e-07    0.042347
...     ...     ...           ...         ...
398732   28  130450  7.190952e-08    0.000000
398733   28  130459  1.200889e-05    1.424408
398734   28  130461  2.157286e-02    0.000000
398735   28  130469  7.574469e+00    0.000000
398736   28  130470  7.190952e-02    0.000000

[398737 rows x 4 columns]

In [33]:
df_trade_source_gp.rename(columns = {"source_acc_id": "acc_id"}, inplace = True)
df_trade_source_gp

        day  acc_id   item_amount  item_price
0         1       2  2.732562e-06    3.456524
1         1      18  2.876381e-07    0.029810
2         1      20  2.396984e-08    0.000000
3         1      22  1.855266e-05    0.000000
4         1      28  8.389444e-07    0.042347
...     ...     ...           ...         ...
398732   28  130450  7.190952e-08    0.000000
398733   28  130459  1.200889e-05    1.424408
398734   28  130461  2.157286e-02    0.000000
398735   28  130469  7.574469e+00    0.000000
398736   28  130470  7.190952e-02    0.000000

[398737 rows x 4 columns]

In [12]:
df_trade_target_gp

        day  target_acc_id   item_amount  item_price
0         1             17  7.191000e-02    0.011379
1         1             20  2.396984e-08    0.000000
2         1             22  2.924337e-01    0.009878
3         1             33  2.396984e-08    0.001019
4         1             53  7.192606e-03    0.036819
...     ...            ...           ...         ...
472036   28         130449  2.396984e-08    0.053560
472037   28         130450  1.198564e-03    0.000000
472038   28         130461  4.793968e-02    0.000000
472039   28         130469  7.190952e+00    0.000000
472040   28         130470  3.259898e-06    0.105638

[472041 rows x 4 columns]

In [17]:
df_x = pd.concat([df_activity_gp, df_combat_gp, df_payment, df_pledge_gp, df_trade_source_gp, df_trade_target_gp], axis=1, sort=False)
df_x.fillna(0)

,day,acc_id,playtime,npc_kill,solo_exp,party_exp,quest_exp,rich_monster,death,revive,...,combat_play_time,non_combat_play_time,day,source_acc_id,item_amount,item_price,day,target_acc_id,item_amount,item_price
0,1,2,2.703457,0.000000,0.000000,0.000000,0.000000,0,0.000000,0.000000,...,5.719273,0.000927,1.0,2.0,2.732562e-06,3.456524,1.0,17.0,7.191000e-02,0.011379
1,1,8,0.463450,3.094180,8.604148,0.000000,0.375125,0,0.000000,0.000000,...,1.187847,0.000000,1.0,18.0,2.876381e-07,0.029810,1.0,20.0,2.396984e-08,0.000000
2,1,17,0.327692,0.180798,0.006721,0.010488,0.000000,0,0.000000,0.000000,...,1.915730,0.000000,1.0,20.0,2.396984e-08,0.000000,1.0,22.0,2.924337e-01,0.009878
3,1,20,0.285560,3.840013,0.028034,0.000000,0.000434,0,0.000000,0.000000,...,0.872903,0.000000,1.0,22.0,1.855266e-05,0.000000,1.0,33.0,2.396984e-08,0.001019
4,1,31,1.718041,1.710315,0.006548,0.006899,0.000000,0,0.000000,0.000000,...,0.391625,0.000000,1.0,28.0,8.389444e-07,0.042347,1.0,53.0,7.192606e-03,0.036819
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
949353,28,130463,1.041592,0.000000,0.000000,3.747916,0.000000,0,0.245883,0.247337,...,0.000000,0.000000,0.0,0.0,0.000000e+00,0.000000,0.0,0.0,0.000000e+00,0.000000
949354,28,130468,0.222362,0.000000,0.000000,0.000000,0.000000,0,0.000000,0.000000,...,0.000000,0.000000,0.0,0.0,0.000000e+00,0.000000,0.0,0.0,0.000000e+00,0.000000
949355,28,130469,3.386928,0.260890,0.006372,0.000000,0.000434,0,0.000000,0.000000,...,0.000000,0.000000,0.0,0.0,0.000000e+00,0.000000,0.0,0.0,0.000000e+00,0.000000
949356,28,130470,0.760713,0.605589,0.016178,0.000000,0.003470,0,0.000000,0.000000,...,0.000000,0.000000,0.0,0.0,0.000000e+00,0.000000,0.0,0.0,0.000000e+00,0.000000
949357,28,130473,3.370544,0.304146,0.001821,0.000000,0.000054,0,0.000000,0.000000,...,0.000000,0.000000,0.0,0.0,0.000000e+00,0.000000,0.0,0.0,0.000000e+00,0.000000

In [23]:
df_x_gp = df_x.groupby(['acc_id'],as_index=False).mean()

ValueError: Grouper for 'acc_id' not 1-dimensional

In [19]:
df_x.to_csv('./data_x.csv', index=False)

In [20]:
'hi' + 'hello'

'hihello'